doctype html
html(lang='en')
  head
    title
      | Ajay Kumar Pandey | Accounts Service Provider
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='google-site-verification', content='osCHfGE9a0cyemLkJkYgLHqrrW_tYBB--B0DPxsRFI8')
    meta(name='keywords', content="GST, GST filling and registration, income tax, income tax return, accounting person near me, accounting person in noida, accounting advisor near me, GSTR-3B, Filling GSTR-1 Filling, GSTR 2-A Reconciliation, TDS Return, Form 16-A, GST Registration, Additional Place Of Business Registration, Accounts & Records maintaince, E-Way Bill, Invoicing under GSTAudits, Reviews and Compilations, Tax Services, Bookkeeping/Write-Up, Tax Planning, Accounting Services, Tax Preparation, E-commerce, Buying, Selling,Business, GST, registration, GSTIR, Payroll Services, services, contact, business, mantra, offer, http://ajaccountinggroup.com, ajay pandey, ajay kumar pandey, Ajay Kumar Pandey | Accounts Service Provider, accountant, finance, mobiokart, portfolio, ajay kumar pandey, @AjayAp0")
    meta(name='description', content='A wide range of services that I offer to my clients along with a brief description: Audits, Reviews and Compilations Tax Services Bookkeeping/Write-Up Tax Planning Accounting Services Tax Preparation Manage E-commerce Buying Selling a Business GST registration GSTIR Payroll Services.')
    // Schema.org markup for Google+
    meta(itemprop='name', content='Ajay Kumar Pandey')
    meta(itemprop='description', content='A wide range of services that I offer to my clients along with a brief description: Audits, Reviews and Compilations Tax Services Bookkeeping/Write-Up Tax Planning Accounting Services Tax Preparation Manage E-commerce Buying Selling a Business GST registration GSTIR Payroll Services.')
    meta(itemprop='image', content='http://ajaccountinggroup.com/portfolio/images/logo.jpg')
    // Twitter Card data
    meta(name='twitter:card', content='Accounting Service')
    meta(name='twitter:site', content='@AjayAp0')
    meta(name='twitter:title', content="Ajay Kumar Pandey | Accounts Service Provider")
    meta(name='twitter:description', content='A wide range of services that I offer to my clients along with a brief description: Audits, Reviews and Compilations Tax Services Bookkeeping/Write-Up Tax Planning Accounting Services Tax Preparation Manage E-commerce Buying Selling a Business GST registration GSTIR Payroll Services.')
    meta(name='twitter:creator', content='@author_handle')
    // Twitter summary card with large image must be at least 280x150px
    meta(name='twitter:image:src', content='http://ajaccountinggroup.com/portfolio/images/logo.jpg')
    // Open Graph data
    meta(property='og:title', content="Ajay Kumar Pandey | Accounts Service Provider")
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://ajaccountinggroup.com/')
    meta(property='og:image', content='http://ajaccountinggroup.com/portfolio/images/logo.jpg')
    meta(property='og:description', content='I offer a wide range of services to our individual and business clients. Being a relatively small firm, we are able to offer our clients personalized quality service. Below, we have listed the services that we offer to our clients along with a brief description: Audits, Reviews and Compilations Tax Services Bookkeeping/Write-Up Tax Planning Accounting Services Tax Preparation Manage E-commerce Buying Selling a Business GST registration GSTIR Payroll Services.')
    meta(property='og:site_name', content='Ajay Kumar Pandey | Accounts Service Provider')
    meta(property='article:published_time', content='2018-01-14T05:59:00+01:00')
    meta(property='article:modified_time', content='2018-01-19T19:08:47+01:00')
    meta(name='google-site-verification', content='xKY7igSQcNjOAiDnqJfPNPxc6S27dEQzp_A3-t-NHyg')

    // css files
    link(href='portfolio/css/bootstrap.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='portfolio/css/cobox.css', rel='stylesheet', type='text/css')
    link(href='portfolio/css/portfolio.css', rel='stylesheet', type='text/css', media='all')
    link(href='portfolio/css/style.css', rel='stylesheet', type='text/css', media='all')
    link(href='portfolio/css/pricing.css', rel='stylesheet', type='text/css', media='all')
    // /css files
    // font links
    //link(href='//fonts.googleapis.com/css?family=Quicksand:400,700,300', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Cinzel:400,700,900', rel='stylesheet', type='text/css')
    link(rel='canonical', href='https://www.ajay-financialadvisor.herokuapp.com')
    link(rel='icon', href='portfolio/images/favicon.ico', type='image/x-icon')
    link(rel='alternate', hreflang='x', href='http://ajaccountinggroup.com/')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // /font links
    // js files
    script(src='portfolio/js/modernizr.custom.js')
    // /js files
    script(type="application/ld+json").
      { "@context": "http://schema.org", "@type": "LocalBusiness", "@id" : "http://www.ajaccountinggroup.com", "priceRange" : "$000 - $000","address": { "@type": "PostalAddress", "addressLocality": "G-179 sector 22", "addressRegion": "Noida", "postalCode": "201301", "streetAddress": "Near Mother Dairy and Shiv Mandir Sector 22" }, "email": "ajaykumarpandeya@gmail.com", "image": "http://ajaccountinggroup.com/portfolio/images/logo.jpg", "name": "Ajay Kumar Pandey", "description": "I offer a wide range of services to our individual and business clients. Being a relatively small firm, we are able to offer our clients personalized quality service. Below, we have listed the services that we offer to our clients along with a brief description: Audits, Reviews and Compilations Tax Services Bookkeeping/Write-Up Tax Planning Accounting Services Tax Preparation Manage E-commerce Buying Selling a Business GST registration GSTIR Payroll Services.", "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 09:00-20:00", "telephone": "9871962867", "url": "http://ajaccountinggroup.com/", "sameAs" : [ "https://www.facebook.com/people/Ajay-Kumar/100007421958128","https://www.twitter.com/AjayAp0?lang=en","https://www.linkedin.com/in/ajay-pandey-242355a5/"] }

    script(src='http://code.jquery.com/jquery-1.6.2.min.js')
  body#myPage(data-spy='scroll', data-targ.navbar-wrapperet='.navbar', data-offset='60')
    .navbar-wrapper
      .container
        nav.navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/')
                span.header
                  img(src='portfolio/images/logo.jpg', alt="aj-accounting-group")
            #navbar.navbar-collapse.collapse.navbar-right
              ul.nav.navbar-nav.link-effect
                li.active
                  a(href='#') Home
                li
                  a(href='#about') About
                li
                  a(href='#portfolio') Portfolio
                li
                  a(href='#pricing') Pricing
                li
                  a(href='#videos') Videos
                li
                  a(href='#contact') Contact
    // Banner
    .banner
      ul#slider.rslides
        li
          img(src='portfolio/images/banner.jpg', alt="banner-image1")
          .banner-info
            h2 Business Mantra
            span.line1
            p If you think you Can! you Can.
            span.line2
            .social-icons
              a(href='https://www.facebook.com/people/Ajay-Kumar/100007421958128', target='_blank')
                span.facebook
              a(href='https://www.twitter.com/AjayAp0?lang=en', target='_blank')
                span.twitter
              a(href='https://www.linkedin.com/in/ajay-pandey-242355a5/', target='_blank')
                span.linkedin
              a(href='https://www.plus.google.com/u/0/114906591500326948583', target='_blank')
                span.googleplus
        li
          img(src='portfolio/images/banner2.jpg', alt="banner-image2")
          .banner-info
            h2 Success Mantra
            span.line1
            p Hard work is key to success.
            span.line2
            .social-icons
              a(href='https://www.facebook.com/people/Ajay-Kumar/100007421958128', target='_blank')
                span.facebook
              a(href='https://www.twitter.com/AjayAp0?lang=en', target='_blank')
                span.twitter
              a(href='https://www.linkedin.com/in/ajay-pandey-242355a5/', target='_blank')
                span.linkedin
              a(href='https://www.plus.google.com/u/0/114906591500326948583', target='_blank')
                span.googleplus
        li
          img(src='portfolio/images/banner3.jpg', alt="banner-image3")
          .banner-info
            h2 Life Mantra
            span.line1
            p Life should be full of surprices.
            span.line2
            .social-icons
              a(href='https://www.facebook.com/people/Ajay-Kumar/100007421958128', target='_blank')
                span.facebook
              a(href='https://www.twitter.com/AjayAp0?lang=en', target='_blank')
                span.twitter
              a(href='https://www.linkedin.com/in/ajay-pandey-242355a5/', target='_blank')
                span.linkedin
              a(href='https://www.plus.google.com/u/0/114906591500326948583', target='_blank')
                span.googleplus  


    // /Banner
    // About
    #about.about-me
      h1.text-center About My Services
      .container
        .row
          .col-md-4.col-xs-12
            .mydetails.text-center
              img.img-circle.img-responsive(src='portfolio/images/man.jpg', alt='Generic placeholder image', width='200', height='200')
              h1 Ajay Kumar Pandey
              p Finance & Accountant
              span
               .social-icons
                 a(href='https://www.facebook.com/people/Ajay-Kumar/100007421958128', target='_blank')
                   span.facebook
                 a(href='https://www.twitter.com/AjayAp0?lang=en', target='_blank')
                   span.twitter
                 a(href='https://www.linkedin.com/in/ajay-pandey-242355a5/', target='_blank')
                   span.linkedin
                 a(href='https://www.plus.google.com/u/0/114906591500326948583', target='_blank')
                   span.googleplus 
          .col-md-8.col-xs-12
            .myskills
              h1.text-center My Services Info
              p.skill-text
                | I offer a wide range of services to our individual and business clients. Being a relatively small firm, we are able to offer our clients personalized quality service. Below, we have listed the services that we offer to our clients along with a brief description.
              .skill-info
                .row
                  .col-md-6
                    h4 Audits, Reviews and Compilations
                    h4 Bookkeeping/Write-Up
                    h4 Accounting Services
                    h4 Manage E-commerce
                    h4 GST registration & GST return
                  .col-md-6
                    h4 Tax Services
                    h4 Tax Planning
                    h4 Tax Preparation
                    h4 Buying & Selling a Business
                    h4 Payroll Services
    // /About
    // Portfolio
    #portfolio.myportfolio
      h1.text-center.slideanim My Portfolio
      p.text-center.slideanim ScreenShots of works undertaken by me.
      section#grid3d.vertical
        .grid-wrap
          .grid
            figure
              a(href='portfolio/images/011.jpg', target='_blank', title='E-commerce tax preparation')
                img.slideanim(src='portfolio/images/011.jpg', alt='E-commerce tax preparation')
            figure
              a(href='portfolio/images/012.jpg', target='_blank' title='Tax Calculation Chart')
                img.slideanim(src='portfolio/images/012.jpg', alt='Tax Calculation Chart')
            figure
              a(href='portfolio/images/013.jpg', target='_blank' title='Billing With Import Export')
                img.slideanim(src='portfolio/images/013.jpg', alt='Billing With Import Export')
    // /Portfolio

    #pricing.myportfolio
      .container
        h1.text-center.slideanim Pricing
        p.text-center.slideanim Our pricing is as follows.
        .row
          .col-md-4.col-sm-6
            .pricingTable
              .pricingTable-header
                h3.heading Basic
                //span.subtitle Lorem ipsum dolor sit amet
                .price-value
                  | 2500
                  span.currency Rs
                  span.month /mo
              ul.pricing-content
                li GSTR-3B Filling
                li GSTR-1 Filling
                li GSTR 2-A Reconciliation
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
              //a.read(href='#')
                | sign up
                i.fa.fa-angle-right
          .col-md-4.col-sm-6
            .pricingTable
              .pricingTable-header
                h3.heading Pro
                //span.subtitle Lorem ipsum dolor sit amet
                .price-value
                  | 4500
                  span.currency Rs
                  span.month /mo
              ul.pricing-content
                li GSTR-3B Filling
                li GSTR-1 Filling
                li GSTR 2-A Reconciliation
                li TDS Return
                li Form 16-A
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
                li 
                  span
                    i.fa.fa-close(style='font-size:1.7em;color:red')
              //a.read(href='#')
                | sign up
                i.fa.fa-angle-right
          .col-md-4.col-sm-6
            .pricingTable
              .pricingTable-header
                h3.heading Premium
                //span.subtitle Lorem ipsum dolor sit amet
                .price-value
                  | 8000
                  span.currency Rs
                  span.price +
                  span.month /mo
              ul.pricing-content
                li GSTR-3B Filling
                li GSTR-1 Filling
                li GSTR 2-A Reconciliation
                li TDS Return
                li Form 16-A
                li GST Registration
                li Additional Place Of Business Registration
                li Accounts & Records maintaince
                li E-Way Bill
                li Invoicing under GST
              a.read(href='#')
                | more
                i.fa.fa-angle-right
    // Gallery
    //#gallery.mygallery
      h1.text-center.slideanim My Gallery
      .text-center
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-1.jpg', alt='gallery-1')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-2.jpg', alt='gallery-2')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-3.jpg', alt='gallery-3')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-4.jpg', alt='gallery-4')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-5.jpg', alt='gallery-5')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-6.jpg', alt='gallery-6')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-7.jpg', alt='gallery-7')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-8.jpg', alt='gallery-8')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-9.jpg', alt='gallery-9')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-10.jpg', alt='gallery-10')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-11.jpg', alt='gallery-11')
        a(href='#gallery', title='My Image Gallery')
          img.img-responsive.slideanim(src='portfolio/images/me-12.jpg', alt='gallery-12')
    // Gallery
    // footer
    #videos.contact-me
        h1.text-center.slideanim my videos
        p.text-center.slideanim Here are some videos of mine.
        section#grid3d.vertical
          .grid-wrap
            .grid
              figure
                iframe(width='560', height='349', src='https://www.youtube.com/embed/bcHaPvRFVTo?feature=oembed',frameborder='1', allowfullscreen='')
              figure
                iframe(width='560', height='349', src='https://www.youtube.com/embed/OXOlgRaU6dk?feature=oembed',frameborder='1', allowfullscreen='')
              figure
                iframe(width='560', height='349', src='https://www.youtube.com/embed/Um63OQz3bjo?feature=oembed',frameborder='1', allowfullscreen='')

    #contact.contact-me
      h1.text-center.slideanim Contact Me
      p.text-center.slideanim You can contact me via email and on any of social media platforms.
      .container
        footer
          .row
            .col-md-6.slideanim
              .contact-details
                form(action='/contact_me', method='post')
                  .row
                    .col-sm-12.form-group
                      input#name.form-control(name='name', placeholder='Name', type='text', required='')
                    .col-sm-12.form-group
                      input#email.form-control(name='email', placeholder='Email', type='email', required='')
                  textarea#comments.form-control(name='comments', placeholder='Comment', rows='5')
                  br
                  .row
                    .col-sm-12.form-group
                      button.btn.btn-default.btn-lg(type='submit')
                        | Send 
                        span.glyphicon.glyphicon-menu-right
            .col-md-6.slideanim
              .contact-info
                h4 Contact Info
                p This is my address Info, You can contact me via email and on any of social media platforms.
                span.line2
                .social-icons
                  a(href='https://www.facebook.com/people/Ajay-Kumar/100007421958128', target='_blank')
                    span.facebook
                  a(href='https://www.twitter.com/AjayAp0?lang=en', target='_blank')
                    span.twitter
                  a(href='https://www.linkedin.com/in/ajay-pandey-242355a5/', target='_blank')
                    span.linkedin
                  a(href='https://www.plus.google.com/u/0/114906591500326948583', target='_blank')
                    span.googleplus
                .footer-info
                  div
                    i.glyphicon.glyphicon-globe
                    p.p1 G-179, Sector 22 
                    p.p2 Noida, UttarPradesh
                  div
                    i.glyphicon.glyphicon-phone-alt
                    p.p1 +91 9643862867
                    p.p2 +91 9871962867
                  div
                    i.glyphicon.glyphicon-envelope
                    p.p1
                      a(href='mailto:ajaykumarpandeya@gmail.com', onclick="myfunction()", target="_blank") ajaykumarpandeya@gmail.com
                    p.p2
                      a(href='mailto:ajaybani05@gmail.com', onclick="myfunction()", target="_blank") ajaybani05@gmail.com
                h5 Thanks & Regards
                p Please feel free to contact. 24X7 i ll try to assist you.
          hr
          .copyright
            p.text-center
              | © 2018 Website. All Rights Reserved | Design by 
              a(href='https://www.linkedin.com/in/karun-pratap-rana-94201b106/', target="_blank") Karun Rana
          a(href='#myPage', title='To Top')
            span.glyphicon.glyphicon-chevron-up
    // /footer
    // js files
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='portfolio/js/bootstrap.min.js')
    // js files for banner slider
    script(src='portfolio/js/responsiveslides.min.js')
    script.
      $(window).load(function() {
      // Slideshow for banner
      $("#slider").responsiveSlides({
      maxwidth: 1920,
      speed: 1000
      });
      });
    // /js files for banner slider
    // js files for portfolio
    script(src='portfolio/js/classie.js')
    script(src='portfolio/js/helper.js')
    script(src='portfolio/js/grid3d.js')
    script.
      new grid3D( document.getElementById( 'grid3d' ) );
    // /js files for portfolio
    // js files for gallery
    script(type='text/javascript', src='portfolio/js/cobox.js')
    // /js files for gallery
    // js for smooth scrolling
    script.
      $(document).ready(function(){
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
      scrollTop: $(hash).offset().top
      }, 900, function(){
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
      });
      })
    // /js for smooth scrolling
    // js for sliding
    script.
      $(window).scroll(function() {
      $(".slideanim").each(function(){
      var pos = $(this).offset().top;
      var winTop = $(window).scrollTop();
      if (pos < winTop + 600) {
      $(this).addClass("slide");
      }
      });
      });
    // /js for sliding
    // /js filesh
    script.
      $(document).on('click',function(){ $('.collapse').collapse('hide'); }) 
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112713695-1');

     script.
       myfunction(e) {
         this.href=this.href\.replace(/120_/,'@')\.replace(/_41520_/,'.');
       }
    script.
      var $iframes = $( "iframe" );
       
      // Find &#x26; save the aspect ratio for all iframes
      $iframes.each(function () {
        $( this ).data( "ratio", this.height / this.width )
          // Remove the hardcoded width &#x26; height attributes
          .removeAttr( "width" )
          .removeAttr( "height" );
      });
       
      // Resize the iframes when the window is resized
      $( window ).resize( function () {
        $iframes.each( function() {
          // Get the parent container&#x27;s width
          var width = $( this ).parent().width();
          $( this ).width( width )
            .height( width * $( this ).data( "ratio" ) );
        });
      // Resize to fix all iframes on page load.
      }).resize();
