doctype html
html
  head
    meta(charset='utf-8')
    title Untitled Document
    style.
      h1 {
      text-align:center
      }
      .testimonials {
      margin:0;
      padding:0;
      list-style:none;
      max-width:800px;
      margin:0;
      background:#f9f9f9;
      padding:0;
      display:table;
      }
      .testimonials li {
      display:table-row;
      padding:0;
      margin:0;
      }
      .tc {
      display:table-cell;
      vertical-align:top;
      padding:10px;
      border-bottom:1px dotted #000;
      }
      .txt {
      vertical-align:middle;
      }
      .testimonials li img {
      border-radius:10px;
      display:block;
      }
  body
    h3 Hello, Ajay
    p
      | Name #{name}
    p
      | EmailId: #{email} 
    p
      |commented on your portfolio .
    ul.testimonials
      li
        .tc 
           img(src='https://ajay-financialadvisor.herokuapp.com/portfolio/images/account.png')
        p.tc.txt
          |  #{comments}

    br
    p.tc.txt
      | Thanks & regards.
    p
      | Ajay Kumar Pandey
    p
      | ajay-financialadvisor.herokuapp.com

